# Polymarket Bot - Environment Variables
# DO NOT SHARE THIS FILE

# Your wallet private key (from MetaMask or Polymarket wallet)
0x08bd6b9b56584cdf69aa1c2a2b399ea8624ceab6e074bd876fa31a87b925447e

# Your Polymarket proxy wallet address
0x66f2407b50845C37dffF757340dbeF293747AA4B
